.grid {
  @include flex(center);
  flex-wrap: wrap;
  margin: 0 -10px;
  &__item {
    flex: 1 1 calc(33.3% - 20px);
    margin: 0 10px 20px;
    &--large {
      flex: 1 1 calc(66.66% - 20px);
    }
  }
}